{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block content %}
<h1> Statistics </h1>
<div class="container" style="text-align:center">

  <hr>
  <h2> <div style="padding-top: 7px;">
    <img class="img-circle" id="pp" src="https://image.ibb.co/ippEdw/potopropil.png"alt="" border="0" height="150" width="150">
  </div> {{ name }} </h2>
  <h4> Friends </h4> {{friends}}
  <h4> Feeds </h4> {{feed}}
  <h4> Latest Post </h4> {{latest_post}}
  {% if status %}
  <div class="container" style="background-color:white;width:60%;color:black;margin-top:1%;text-align:left;padding-bottom:2%;word-wrap: break-word;">
    <h5> <div style="padding-top: 7px;">
      <img class="img-circle" id="pp" src="https://image.ibb.co/ippEdw/potopropil.png"alt="" border="0" height="40" width="40">
  </div> {{ name }} </h5>
    {{ status.text }} <br>
    {{ status.created_date }}
  </div>
  {% else %}
  <h5> No Status </h5>
  {% endif %}

</div>
{% endblock %}
