{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block content %}

<style>
	.friend-list{
	  text-align: center;
	  background: #fff;
	  position: relative;
	  z-index: 15;
	  margin-bottom: 60px;
	  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	  transition: 0.5s all;
	  -webkit-transition: 0.5s all;
	  -moz-transition: 0.5s all;
	  -o-transition: 0.5s all;
	}

	.friend-list:hover {
	    -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	    -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	    -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	    box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
	    -webkit-transform: translate(0, -5px);
	    -moz-transform: translate(0, -5px);
	    -o-transform: translate(0, -5px);
	    transform: translate(0, -5px);
	}
	.friend-list:after{
	    content:"";
	    display:block;
	    height:25px; /* Which is the padding of div.container */
	    background: #fff;
	}
	.flex{
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: flex-start;
	  align-items: flex-start;
	  align-content: flex-start;
	  margin-right: -15px;
	  margin-left: -15px;
	}
	.flex-item{
	  padding: 0 15px;
	  flex-grow: 0;
	  flex-shrink: 0;
	  flex-basis: 33%;
	}

	.friend-list .friend-list-title {
	  font-size: 15px;
	  font-weight: 700;
	  padding: 10px 10px 0;
	}
	.friend-list .friend-list-date-added {
	  font-size: 12px;
	  padding: 0 10px;
	}

	.friend-list .friend-list-image{
	  width:80px;
	  height:100px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.friend-list .friend-list-description {
	  padding: 10px 25px;
	  z-index: 15;
	  background: #fff;
	  height:50px;
	  text-align: center;
	  overflow: auto;
	}
	.friend-list .friend-list-delete {
	  background: #e45;
	  color: #fff;
	  padding: 10px;
	  font-size: 16px;
	  width: 100%;
	  height: 50px;
	  bottom: 1px;
	  position: absolute;
	  cursor: pointer;
	  z-index: -1;
	  -webkit-border-radius: 0 0px 2px 2px;
	  -moz-border-radius: 0 0px 2px 2px;
	  -o-border-radius: 0 0px 2px 2px;
	  border-radius: 0 0px 2px 2px;
	  -webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  transition: all 0.3s ease;
	}
	.friend-list .friend-list-delete {
	  bottom: -50px;
	}
	.friend-list .friend-list-delete:hover{
	  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
	}
	/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
	@media only screen and (max-width: 768px) {
	  #input-list form {
	      width: 290px;
	  }
	  .friend-list .friend-list-delete {
	    bottom: -50px;
	  }

	  .flex-item {
	    padding: 0 15px;
	    flex-grow: 0;
	    flex-shrink: 0;
	    flex-basis: 100%;
	  }
	}
</style>
<div>
  <h1>Friends</h1>
  <hr>
<section name="form">
    <h2>Add Friend</h2>
    <form id="form" method="POST" action="{% url 'friends:friend_post'%}">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% if success %}
    <p></p>
    {% else %}
    <p>Friend URL is not valid!</p>
    {% endif %}
</section>
<section name="my-list" id="my-list">
	<h2 style="padding-bottom: 15px; padding-top: 15px">Friend List</h2>
        <div class="flex">
            {% if list %}
                {% for data in list %}
                    <div class="flex-item">
                        <div class="friend-list">
                            <div class="friend-list-title">
                                {{data.name}}
                            </div>
                            <div class="friend-list-date-added">
                                Added on {{data.added_date}}
                            </div>
                            <div><img class="friend-list-image" src="https://image.ibb.co/ippEdw/potopropil.png" alt="Profile picture"></div>
                            <div class="friend-list-description">
                                <a href="{{data.profile_link}}">{{data.profile_link}}</a>
                            </div>
                            <div class="friend-list-delete">
                                <div class="friend-list-delete-button" data-id="{{data.id}}" id="delete_button">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong>Tidak ada teman.
            </div>
            {% endif %}
        </div>
    </div>
</section>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
      $(".friend-list-delete-button").on("click", function(e) {
        var uid = $(this).data('id');
        location.href="delete_friend/" + uid;
      });
    </script>

{% endblock %}
