{% extends "base.html" %}

{% block content %}
<style>
    #input-list {
        margin-bottom: 30px;
    }
    .page-head {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list-head {
        margin-bottom: 20px;
    }
    .status-text {
        margin: : 50px;
        display: block;
        width: 100%;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #submit {
        width: 90px;
    }
    .flex-item {
        word-wrap: break-word;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .author-profile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        background-color: green;
        border-radius: 3px;
        padding: 10px;
    }
    .author-profile-data {
        margin-right: 5px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .status-list-text {
        background-color: white;
        z-index: 15;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        height: 70px;
        text-align: justify;
    }
    .status-list-date-added {
        background-color: white;
        padding: 6px;
        padding-left: 10px;
        color: gray;
    }
</style>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'status:add_status' %}">
            <h2 class="page-head">Update Status</h2>
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-success" value="Post">
            <br>
        </form>
    </div>
</section>
<section name="my-status" id="my-status">
    <div class="container">
        <h2 class="list-head">My Status</h1>
        <div class="flex">
            {% if status %}
                {% for data in status reversed %}
                    <div class="flex-item">
                        <div class="status-list">
                            <div class="author-profile"> 
                                <div class="author-profile-data" id="author-photo">
                                    <img src="https://image.ibb.co/ippEdw/potopropil.png" alt="" border="0" height="30" width="30" style="border-radius: 50%"/>
                                </div>
                                <div class="author-profile-data" id="author-name" style="color: #e5e5e5">
                                    {{ author }}
                                </div>
                            </div>
                            <div class="status-list-text">
                                {{data.text}}
                            </div>
                            <div class="status-list-date-added">
                                {{data.created_date}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
