{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<style>
	table, th, td {
		border: 0px solid black;
		word-wrap:break-word;
		padding-right: 20px;
	}

    .subject{
		text-align: left;
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
    .value{
		text-align: left;
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }
	
</style>
<div>
  <h1> Profile </h1>
  <hr>
  <section name="pp" style="padding-top: 7px;text-align: center;">
    <img class="img-circle" id="pp" src={{ user.photo }}  alt="" border="0" height="150" width="150">
  </section>
  

<section name="list">
	<h3 style="text-align: center;">{{ user.name }}</h3>
	<table align="center" style="text-align: left">
		<tbody>
		  <tr>
            <td>Birthday</td>
            <td>{{ user.bday }}</td>
          </tr>
		  <tr>
            <td>Gender</td>
            <td>{{ user.gender }}</td>
          </tr>
		  <tr>
            <td>Expertise</td>
            <td>{{ user.expertise }}</td>
          </tr>
		  <tr>
            <td>Description</td>
            <td>{{ user.description }}</td>
          </tr>
		  <tr>
            <td>Email</td>
            <td>{{ user.email }}</td>
          </tr>		
		</tbody>
	</table>
</section>



 </div>

<br><br>
{% endblock %}