<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 3px solid black;
      margin: 1em 0;
      padding: 0;
    }
    .nav-link {
      font-size: 15px; 
      color: #d5d8e0;
    }
    </style>
</head>
<body style="background-image: url('https://images.designtrends.com/wp-content/uploads/2016/03/29121020/Solid-White-Background.jpg')">
  <header>
      {% include "header.html" %}
  </header>
  <content >
    <div class="container" style="margin-top: 50px; padding-left: 50px; padding-right: 50px">
      {% block content %}
              <!-- content goes here -->
      {% endblock %}
    </div>
  </content>
  <footer>
    <div style="margin-left: 50px;margin-top:50px">
      <!-- TODO Block Footer dan include footer.html -->
      {% block footer %}
      {% include  "footer.html" %}
      {% endblock %}
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
