<div class="container-fullwidth">
    <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse" style="background-color:black; margin-bottom: 19px;">
      <a class="navbar-brand" href="#" style="margin-left: 50px; color: #12a812; font-weight: bold">Ling In</a>
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #d5d5d5">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="material-icons" style = "font-size:15px ; color: #d5d8e0">home</i> Home </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="/profile/"><i class="material-icons" style = "font-size: 15px; color: #d5d8e0">perm_identity</i> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends/"><i class="material-icons" style = "font-size: 15px; color: #d5d8e0">perm_contact_calendar</i> Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stats"><i class="material-icons" style = "font-size: 15px; color: #d5d8e0">list</i> Stat</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
